.header-main {
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center center;
    color: white;
    
  }
  
  #logo {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
  }
  #click {
    margin-top: 5%;
    margin-bottom: 5%;
  }#About {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  #Services {
    background-image: url("../img/s_image.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
    height: auto;
    width: 98%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  #About {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  #des {
    margin-right: auto;
    margin-left: auto;
    image-orientation: center;
    text-align: center;
  }
  
  #what-we-do {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }
  .col-md-4 h5 {
    margin-top: 5%;
  }
  #design {
    text-align: center;
  }
  #development {
    text-align: center;
  }
  #development h5 {
    margin-top: 7%;
  }
  #product {
    text-align: center;
  }
  #design p {
    display: none;
  }
  #development p {
    display: none;
  }
  #product p {
    display: none;
  }
  
  .col-md-3 img {
    width: 98%;
  }
 
  .col-md-3:hover {
    opacity: 0.7;
  }
  .col-md-3 #w1,#w2,#w3,#w4,#w5,#w6,#w7,#w8 {
    display: none;
    
  }
  #contacts {
    background-image: url("../img/c_image.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #contUs {
    margin-right: auto;
    margin-left: auto;
  }

  form input {
    width: 36%;
    background: transparent;
    border-radius: 50px;
  }
  form textarea {
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: all 0.4s ease;
    margin-top: 25px;
    margin-bottom: 4%;
    width: 65%;
  }
  
  form input:focus,
  textarea:focus {
    background: linear-gradient(to right, lightgrey, white);
    color: black;
    transform: scale(1);
    border: transparent;
  }
  form input[type="submit"] {
    color: whitesmoke;
    background: blueviolet;
    margin-bottom: 3%;
    border-radius: 50px;
    font-size: 1.5em;
  }
  form input[type="submit"]:hover {
    background: silver;
    border-radius: 35px;
    outline: none;
  }
  #socials {
    float: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-left: 40%;
    color: white;
  }
  footer{
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  